.welcome-logo {
    display: block;
    width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.auth-button {
    text-align:center
}

.bg-image {
  /* The image used */
  background-image: url("Combs.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}